.container{
  width: 100%;
  margin-bottom: 10rem;
}

.wrapper{
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  gap: 7.81rem;

}

.featuresHeading,
.boxHeading{
  font-size: --h4;
  font-weight: bold;
}

.paragraph{
  width: 50%;
}

.featurePh,
.links{
margin: 2rem 0 2rem 0;
}

.links span{
  color: var(--orange-color);
  
}




@media(max-width: 800px){
  .container{
    margin-bottom: 5.5rem;
  }
  .wrapper{
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
  }

  .box{
    display: flex;
    gap: 5.5rem;

  }

  .links{
    margin: 0;
  }

  .paragraph{
    width: 100%;
 
  }
}



@media(max-width:400px){
  .wrapper{
    padding: 2rem;
  }
  .box{
    flex-direction: column;
    gap:1rem;

  }
}




