.nav {
  width: 100%;
  height: 6.062rem;
  position: relative;
  z-index: 10;
  background-color: var(--primary-black);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
 
}



.navRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  width: 69.364rem;
  height: 5rem;
  padding: 0 1rem;
  margin: 0 auto;

}

.leftSection {
  display: flex;
  align-items: center;
  gap: 42px;
  position: absolute;
  left: 0;
}

.navLinks {
  display: flex;
  justify-content: center;
  list-style: none;
  flex: 1;
  gap: 2.125rem;

  font-weight: bold;
}



.logo {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  
}



.navLinks li a {
  text-decoration: none;
  font-weight: 500;
  color: var(--white-color);
  font-size: 0.75rem;
}

.navLinks li a:hover {
  color: var(--orange-color);
}

.cart {
  position: absolute;
  top: 50%;
  right: 0rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 20;
  width: 2rem;
}



/* Menu icon hidden by default (desktop) */
.menuIcon {
  display: none;
  cursor: pointer;
}

@media (max-width: 1067px) {
   .logo{
    margin-left: 1rem;
   }
  .cart {
    right: 1rem;
  }
}
   
  

/* ============== TABLET AND BELOW ============== */
@media (max-width: 768px) {
  .menuIcon {
    display: block;
    margin-left: 2em;
  }

  .navLinks {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background: var(--primary-black);
    border-top: 1px solid #eee;
    padding: 1rem 0;
  }

  .showMenu {
    display: flex;
  }
}

/* Only apply these styles between 0px and 380px */
@media (max-width: 400px) {
  .navRow {
    padding: 0 1rem !important; /* Force tight spacing */
  }
  
  .logo {
    /* font-size: 1.1rem; */
    margin: 0 !important; /* Force no margin */
    align-self: center;
  }
}

/* Keep your normal mobile styles for 381px and above */
@media (min-width: 381px) and (max-width: 768px) {
  .navRow {
    padding: 0 1rem; /* Normal mobile padding */
  }
  
  .logo {
    margin-left: 42px; /* Your original mobile margin */
  }
}